.qt-picker {
    border: 1px solid grey;
    padding: 10px;
}

.qt-picker button {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.qt-picker label {
    font-size: 18px;
    font-weight: bold;
    color: black;
}