.admin {

    background-color: #DACEE4;
    min-height: calc(101vh - 120px);
}


.admin .content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.admin .products-form {
    flex: 3;
    max-width: 350px;
    background-color: #DACEE4;
    border-radius: 6px;
    padding: 10px;
}

.admin .coupons-form {
    flex: 1;
    background-color: #DACEE4;
    max-width: 350px;
    padding: 15px;
}

.admin h3 {
    color: black;
    text-align: center;
    margin-top: 10px;
}

.my-control {
    margin: 10px 0;
    display: flex;
    margin-bottom: 10px;
}

.center {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.center1 {
    text-align: center;
    margin-top: 95px;
    margin-left: 20px;
}

.my-control label {
    margin-right: 10px;
    width: 75px;
    text-align: right;
    color: black;
}

.admin h5 {
    text-align: center;
    color: black;
    margin-left: 20px;
    margin-bottom: 20px;
}

.my-control input {
    flex: 1;
    margin-right: 30px;
}
